@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap');

body{
    font-family: 'Fraunces', serif;
    overflow-x: hidden;
}

.navbar-brand{
    font-size: 2rem;
}

.my-footer-bg{
    background-color: rgb(30, 14, 96);
    color: aqua;
}

ul {
  list-style: none;
  padding: 0;
}

.payemt-methods-title{
    font-size: 3rem;
}

.payment-methods-subtitle{
    font-size: 2.1rem;
}

.cart{
    font-size: 3rem;
}

.current-price{
    font-size: 1.5rem;
}

.media img{
    width: 10rem;
    height: 10rem;
}